[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = "==2.7.6.1"
SQLAlchemy = "*"
Flask = "==1.0.2"
Flask-SQLAlchemy = "==2.3.0"

[requires]
python_version = "3.8"
